body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

.header,
.body {
  padding: 16px;
}

/* 반응형 스타일 */
@media (max-width: 600px) {
  .container {
    padding: 8px;
  }

  .header,
  .body {
    padding: 8px;
  }
}
